@import "./reset";

.mv {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  // -------------- 背景画像アニメーション用 -------------- //
  .mv__bg-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // -------------- スライドアニメーション用 -------------- //
  .mv__slide-animation-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    .mv__slide-animation-container {
      width: 100%;
      height: 100%;
      display: flex;
      aspect-ratio: 16 / 9;
      position: absolute;
      top: 0;
      .mv__slide-box {
        height: 100%;
        background-size: 500% auto;
        background-repeat: no-repeat;
        flex: 1;
      }
    }
  }

  // -------------- 手書きアニメーション用 -------------- //
  .mv__svg {
    width: 100%;
    height: 100%;
  }
  .mv__svg-base path {
    fill: #000;
  }
  .mv__svg-mask path {
    fill: none;
    stroke-width: 10px;
  }
}
